.n-pop {
  border: none !important;
  box-shadow: 0px 3px 4px -2px rgba(0, 0, 0, 0.03);
  background-color: var(--color-solid);
}

.n-list .n-pop {
  @include media-breakpoint-down(sm) {
    border-radius: 0 !important;
  }
}
