[build]
  command = "npm run vbuild"
  publish = "dist"
[[redirects]]
  from = "/*"
  to = "/"
  status = 200
[[headers]]
  for = "/manifest.webmanifest"
  [headers.values]
    Content-Type = "application/manifest+json"