.badge {
  height: 22px;
  border-radius: 11px;
  padding: 0 12px;
  line-height: 22px;
  background-color: var(--color-primary);
  color: #000;
  font-size: 11px;
  border: var(--color-primary);

  &.badge-lg {
    font-size: 1rem;
    height: 2rem;
    border-radius: 1rem;
    line-height: 2rem;
    padding: 0 18px;
  }
  &.badge-md {
    font-size: 0.8rem;
    height: 1.6rem;
    border-radius: 0.8rem;
    line-height: 1.6rem;
    padding: 0 14px;
  }
}
.badge-primary {
  background-color: var(--color-primary);
  color: #fff;
}
.badge-blue {
  background-color: var(--color-blue);
  color: #fff;
}
.badge-green {
  background-color: var(--color-green);
  color: #fff;
}
.badge-light {
  background-color: var(--color-solid-2);
  color: var(--color-inverse-2);
}
