#note-capture .advanced {
  .container {
    padding: 0px !important;
    .n-item {
      border: solid 1px var(--color-faded-1);
      min-height: 45px;

      div.left {
        padding-right: 0;
      }
    }

    // .n-item
    @include media-breakpoint-up(md) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: stretch;
      .n-item {
        max-width: 32%;
        flex-grow: 1;
        flex-shrink: 1;
        min-height: 45px;
      }
      .score-item .main {
        display: none;
      }
    }
    .btn-group .btn.active {
      // border: solid 1px var(--color-primary-bright) !important;
      background-color: var(--color-solid) !important;
      border-radius: 8pt !important;
    }
    .btn-group .btn {
      transform: none;

      border: solid 1px transparent !important;
      border-radius: 8pt !important;
    }
  }
}

.capture-log {
  .more-button {
    flex-shrink: 0;
    flex-grow: 0;
    background-color: var(--color-solid);
    width: 30px;
    border-radius: 15px;
    max-width: 30px;
    height: 30px;
    max-height: 30px;
    overflow: hidden;
    padding: 0;
    display: flex;
    margin-bottom: 6px;
    margin-left: 6px;
    &.active {
      background-color: var(--color-primary) !important;
      color: #fff;
    }
  }
}
