// The component was getting to big... Needed some breathing room

.sortable-ghost {
  .n-item {
    border-bottom: solid 3px var(--color-primary-bright) !important;
  }
}

.n-picker-list {
  ul {
    max-height: 45vh;
    overflow-y: scroll !important;
    border: solid 1px var(--color-faded);
    border-radius: 6px;
    margin: 6px 8px;
    background-color: var(--color-faded);
    .n-item {
      background-color: transparent;
      &.active {
        font-weight: bold !important;
        border-bottom: solid 1px var(--color-primary-bright);
      }
    }
  }
}

.n-item {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding: 10px 16px;
  cursor: pointer;
  min-height: 46px;
  max-width: 100vw;
  position: relative;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: var(--color-inverse);
  font-size: 1rem;
  flex-shrink: 0;
  background-color: var(--color-solid);
  display: flex !important;
  width: 100%;
  border: none;

  &.bg-light {
    background-color: var(--color-bg) !important;
    &.text-faded {
      color: var(--color-inverse-3) !important;
    }
  }

  &.solo,
  &[solo] {
    width: calc(100% - 16px);
    margin: 8px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    .right .btn-clear {
      margin-right: 0px !important;
    }
  }

  select,
  input {
    margin: 8px 0;
  }

  label {
    margin-bottom: 0;
  }

  .trackers-list .n-item {
    padding-left: 16px !important;
    padding-right: 16px !important;
    .main {
      // font-size: 1rem;
    }
  }

  &.item-divider {
    background-color: var(--color-bg);
  }

  &[item-divider],
  &.item-divider {
    font-weight: 600;
    margin-top: 2px;
    color: var(--color-inverse-3) !important;
    text-transform: uppercase;
    letter-spacing: 0.04rem;
    font-size: 14px !important;
    &.n-text {
      font-size: 14px !important;
    }
  }

  &.disabled {
    opacity: 0.5;
  }
  &.just-content {
    background-color: transparent;
    color: var(--color-inverse-2);
    font-size: 0.8rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &.large {
    min-height: 56px;
  }

  &.compact {
    min-height: 30px;

    .n-text.md {
      font-size: 0.8rem;
      line-height: 1rem;
    }
  }

  &.border,
  &[border] {
    border: none !important;
    box-shadow: 0px 3px 4px -2px rgba(0, 0, 0, 0.03);
    background-color: var(--color-solid);
    border-radius: 0.9rem;
    overflow: hidden;
    max-width: 95vw;
  }

  &.bottom-line,
  &[bottom-line] {
    &:before {
      content: "";
      position: absolute;
      bottom: 0px;
      border-bottom: solid 1px var(--color-faded-1) !important;
      left: 16px;
      right: 0;
    }
    > &:last-child {
      &:before {
        display: none;
      }
    }
  }

  .left,
  [slot="left"] {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
  }
  .left {
    padding-right: 16px;
    margin-right: 8px;
  }
  .right {
    text-align: right;
    display: flex;
    flex-wrap: nowrap;
  }

  .main {
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 100%;
    // padding-left: 4pt;
  }

  .n-note-textualized {
    max-width: 100%;
    overflow-x: auto;
  }

  .left,
  .right {
    color: var(--color-inverse-2);
    font-size: 0.9rem;
    flex-shrink: 0;
    flex-grow: 0;
  }

  .right .btn-clear {
    margin-right: -10px !important;
  }
  .right .zmdi .icon {
    font-size: 24px !important;
  }
  .left .zmdi .icon {
    font-size: 24px !important;
  }

  &.clickable {
    // &:hover {
    // 	background-color: var(--color-inverse-3);
    // }
  }

  .main {
    flex-grow: 1;
    flex-shrink: 1;
    // TODO: see if making main overflow hidden was a bad idea
    // overflow: hidden;
    h4,
    .title {
      font-size: 1.1rem;
      margin: 2px 0;
      line-height: 1.36rem !important;
      font-weight: 600;
    }

    p,
    .note,
    .description {
      margin: 2px 0;
      color: var(--color-inverse-3);
      line-height: 132%;
      font-size: 0.82rem;

      &.sm,
      &.small {
        font-size: 0.8rem;
      }
    }
  }

  .left,
  .right {
    .btn-icon {
      max-width: 26px !important;
      width: 26px;
      padding: 0 !important;
      text-align: center;
    }
    .form-control {
      margin: 6px 0;
    }
  }
  .right {
    .zmdi {
      font-size: 26px;
    }
    .btn,
    a,
    span {
      font-size: 0.9rem;
    }
    select {
      // min-width: 190px;
      // width: 190px;
      text-align: right;
    }
    .form-control {
      width: 190px;
    }
  }
  main {
    small {
      font-size: 0.8rem !important;
      line-height: 0.9rem !important;
    }
  }
  &.text-primary {
    .n-text {
      color: var(--color-primary);
    }
  }
  &.text-primary-bright {
    .n-text {
      color: var(--color-primary-bright);
    }
  }
} // end .n-item

// .border-bottom {
//   border-bottom-color: var(--color-solid-1) !important;
// }

.n-item-divider {
  min-height: 60px !important;
  height: 30px;
  align-items: flex-end !important;
  padding-bottom: 10px !important;
  background-color: var(--color-bg) !important;
  &.border-bottom {
    border-bottom-color: var(--color-faded) !important;
  }
  &.compact {
    min-height: 20px !important;
    padding-bottom: 0;
  }
  .main,
  .n-text {
    // @extend .n-title;
  }
}

// [item-divider],
// .item-divider {
//   @extend .n-item-divider.compact;
// }

.n-list {
  &.solo,
  [solo] {
    width: calc(100% - 16px);
    margin: 8px;
    box-shadow: var(--box-shadow);
    border-radius: 12px;
    overflow: hidden;
    background-color: var(--color-solid);
    padding: 0px 0;
  }

  &.framed {
    border: solid 1px var(--color-solid-2) !important;
  }

  margin-bottom: 16px;
  @include media-breakpoint-up(sm) {
    border-radius: 6px;
  }
  overflow: hidden;
  .n-item:first-child {
    // border-top-left-radius: 6px;
    // border-top-right-radius: 6px;
  }
  .n-item:last-child {
    // border-bottom-left-radius: 6px;
    // border-bottom-right-radius: 6px;
  }
}

.bg-selected {
  background-color: var(--color-background-selected) !important;
}

.bg-light {
  background-color: var(--color-solid) !important;
}
