.memories {
  background-color: var(--color-primary-bright);
  border-radius: 16pt;
  margin: 0 8pt 16pt;
  padding: 4pt 4pt 16pt;
  @include media-breakpoint-down(sm) {
    border-radius: 0;
    margin: 0;
  }

  .memories-log-header {
    padding: 4pt 0;

    button {
      margin: 0 auto;
      font-size: 0.9rem;
      width: 75%;
      color: #fff;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
  .n-item {
    margin-top: 4pt;
    margin-bottom: 4pt;
  }
}
