.tracker-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: flex-start;
  padding: 0 6px;
  button {
    width: calc(50% - 1px);
    min-height: 70px;
    @include media-breakpoint-up(md) {
      width: calc(25% - 1px);
    }
  }
}

.n-tracker-value-grid-button {
  justify-content: flex-start;
  // box-shadow: var(--box-shadow-float);
  padding: 0 0 0;
  min-height: 50px;

  &:active {
    background-color: var(--color-solid-1);
  }

  &.solo {
    background-color: var(--color-solid-1);
    border-radius: 6px;
    padding: 4px 12px 6px 0px;
    margin: 4px;
  }

  .emoji {
    font-size: 40px;
    width: 60px;
    line-height: 20px;
    flex-shrink: 0;
    letter-spacing: -24px;
    padding-right: 24px;
  }
  &.truncate {
    .label {
      max-width: calc(100% - 1px);
      @include truncate();
    }
  }
  .label {
    text-align: left;
    font-weight: 500;
    font-size: 0.9rem;
    opacity: 0.8;
  }
  .value {
    font-size: 1.1rem;
    line-height: 1.2rem;
    text-align: left;
    font-weight: 600;
    @include truncate();
  }
  &.novalue {
    .value {
      display: none;
    }
  }
  &.size-xs {
    padding: 0px;
    background-color: transparent !important;
    min-height: 24px;
    line-height: 18px;
    .label {
      font-size: 14px;
    }
    .emoji {
      font-size: 18px;
      width: auto;
      margin-right: 6px;
    }
  }
}

.n-item-log {
  * {
    // border: solid 1px rgba(blue, 0.2) !important;
  }
  width: calc(100% - 16px);
  margin: 16px 8px;

  @include media-breakpoint-up(md) {
    padding: 8px;
  }

  padding: 4px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  .time-row {
    padding: 8px 16px 0px;
  }

  .main {
    padding-left: 0;
  }

  .context.n-row {
    background-color: var(--color-solid-half);
  }

  .n-note-textualized {
    padding: 16px !important;
    font-size: 1.1rem;
    line-height: 136%;

    &.long-note {
      font-size: 0.97rem;
    }
  }

  .trackers-list {
    border-top: solid 1px var(--color-solid-1);
    .n-item {
      padding: 0 16px;
    }
    .n-item:last-child {
      border-bottom: none !important;
    }
  }

  //   &.compact {
  //     margin: 10px 4px !important;

  //     .trackers-list {
  //       margin-top: 8px;
  //       .main {
  //         div,
  //         .left {
  //           font-size: 0.9rem !important;
  //         }
  //       }
  //     }

  //     .time-row {
  //       padding: 2px;
  //       display: flex;
  //       align-items: center;
  //       height: 32px;
  //       // margin-top: 3px;
  //       margin-bottom: -2px;

  //       .time {
  //         font-size: 0.8rem;
  //       }
  //     }
  //     .n-note-textualized {
  //       padding-top: 4px;
  //       font-size: 1rem !important;
  //       line-height: 1.2rem !important;
  //     }
  //     .n-item {
  //       min-height: 30px;
  //     }
  //   }
}
