body.scrolled {
  header.layout-header {
    box-shadow: var(--box-shadow-float);
  }
}

.n-layout {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  // .layout-header-fade {
  //   pointer-events: none;
  //   background: var(--header-fade);
  //   z-index: 3;
  //   height: 70px;
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   left: 0;
  //   bottom: -20px;
  // }

  .layout-header header,
  .layout-header header .container {
    min-height: var(--header-height);
  }

  header.layout-header {
    background-color: var(--color-bg);
    min-height: var(--header-height);
    flex-grow: 1;
    flex-shrink: 0;
    z-index: 4;
  }
  main.layout-main {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
    margin-top: calc(var(--header-height) * -1);
    padding-top: var(--header-height);
    z-index: 1;
    border-bottom: solid 1px var(--color-grey-8);
  }

  &.no-tabs {
    footer.layout-footer {
      padding-bottom: env(safe-area-inset-bottom);
    }
  }
  #nav-tabs {
    height: 70px;
  }
} // end n-layout;
