.share-image-component {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2012;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  padding: 16px;

  &.downloading {
    // .share-image-wrapper {
    //   transform: scale(2);
    //   overflow: visible;
    // }
  }

  .image-holder,
  .generated {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: block;
  }

  .share-image-wrapper {
    border-radius: 5px;
    position: relative;
    background-color: var(--color-solid);
    color: var(--color-inverse);
    width: 95vw;
    max-width: 400px;
    min-width: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &.no-note {
    .note {
      display: none;
    }
    .trackers {
      flex-grow: 0;
      height: 100%;
      overflow: hidden;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      justify-content: center;
      margin-top: -40px;
      .emoji-value {
        margin: 5px;
        min-width: calc(30% - 5px);
        height: auto;
        .label {
          font-size: 1rem;
          width: auto;
          line-height: 115%;
          margin-top: 6px;
        }
        .emoji {
          font-size: 2.5rem;
          @include media-breakpoint-up(md) {
            font-size: 2.8rem;
          }
        }
      }
    }
    &.trackers-1 {
      .trackers .emoji-value {
        transform: scale(2.5);
        width: 100%;
        .label {
          width: 90%;
        }
      }
    }
    &.trackers-2 {
      .trackers .emoji-value {
        transform: scale(1.5);
        min-width: 40% !important;
      }
    }
  } // end no-note

  .date {
    padding: 16px;

    line-height: 100%;
    font-weight: 500;
    color: var(--color-inverse-2);

    .day-date {
      font-weight: 700;
      font-size: 0.9rem;
    }
    .day-time {
      font-weight: 500;
      font-size: 0.7rem;
      opacity: 0.6;
    }
  }
  .note {
    display: flex;
    font-weight: bolder;
    line-height: 110%;
    flex-grow: 1;
    padding: 0px 16px;
    word-spacing: 0.09rem;
    align-items: center;
    .n-note-textualized {
      flex-grow: 1;
      text-align: center;
    }
    .tracker {
      color: var(--color-primary);
    }
  }
  .actions {
    max-width: 400px;
    min-width: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    z-index: 10;
    .btn {
      width: 60px !important;
      height: 60px !important;
      margin: 0 10px;
      flex-grow: 0;
      flex-shrink: 0;
      border-radius: 30px;
      font-size: 24px;
      border: none;

      color: #fff;
    }
  }
  .trackers {
    overflow-y: auto;
    display: flex;
    max-width: 100%;
    padding: 16px 16px 6px;
    .emoji-value {
      flex-shrink: 0;
      flex-grow: 0;
      display: flex;
      flex-direction: column;
      height: 65px;
      position: relative;
      width: 65px;
      align-items: center;
      justify-content: center;
      .label {
        font-size: 0.7rem;
        line-height: 120%;
        width: 65px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
      }
      .emoji {
        font-size: 2rem;
        line-height: 100%;
      }
      .value {
        display: block;
        white-space: nowrap;
        position: absolute;
        top: 0%;
        font-weight: bold;
        // text-shadow: 0px 1px 1px var(--color-solid);
        color: var(--color-inverse);
        margin-left: 1.1rem;
        font-size: 0.6rem;
        font-weight: 500;
        padding: 2px 5px;
        border-radius: 10px;
        background-color: var(--color-translucent);
        border: solid 1px rgba(0, 0, 0, 0.1);
      }
    }
  }
  .nomie-logo {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  &.theme-green {
    --color-solid: var(--color-green);
    .note {
      color: #fff;
      text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
      .tracker {
        color: darken(saturate($green, 20%), 20%);
      }
    }
    .label {
      color: #fff;
    }
    .date {
      color: #000;
    }
    .nomie-logo {
      path {
        fill: darken(saturate($green, 20%), 20%);
      }
    }
  }

  &.theme-pink {
    --color-solid: pink;
    .note {
      color: #fff;
      text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
      .tracker {
        color: darken(saturate(pink, 20%), 20%);
      }
    }
    .label {
      color: $red;
    }
    .date {
      color: #000;
    }
    .nomie-logo {
      path {
        fill: darken(saturate(pink, 20%), 20%);
      }
    }
  }

  &.theme-blue {
    --color-solid: var(--color-primary-bright);
    .note {
      color: #fff;
      text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
      .tracker {
        color: rgba(255, 255, 255, 0.89);
      }
    }
    .date {
      color: #000;
    }
    .nomie-logo {
      path {
        fill: #fff;
      }
    }
  }

  &.theme-dark,
  &.theme-terminal {
    --color-solid: #000;
    .note {
      color: #fff;
      text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
      .tracker {
        color: rgba(255, 255, 255, 0.89);
      }
    }
    .label,
    .date {
      color: #fff;
      opacity: 0.6;
    }
    .nomie-logo {
      path {
        fill: var(--color-primary-bright);
      }
    }
  }
}
