.tap-icon {
  transition: all 0.2s ease-in-out;
  z-index: 10;
  position: relative;
  font-size: 1.6rem !important;
  color: var(--color-primary-bright);
  &.sm {
    font-size: 1.5rem !important;
  }

  &:focus,
  &:active {
    transform: scale(0.9) !important;
  }
  &:hover {
    color: var(--color-primary-bright);
  }
}

.tap-text {
  font-weight: 500 !important;
  font-size: 1rem !important;
  color: var(--color-primary-bright) !important;
  &.sm {
    font-size: 1.5rem !important;
  }
}
