@import "../../scss/utils/_utils";

.n-toolbar {
  h1,
  h2,
  h3 {
    font-size: 1.1em;
    margin-bottom: 0;
  }
}
.n-toolbar-grid .btn {
  color: var(--color-inverse-1);
}
.n-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 50px;
  padding: 0 0px;

  .left,
  .right {
    min-width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .left {
    // justify-content: flex-start;
  }
  .right {
    // justify-content: flex-end;
  }
}

.n-toolbar-grid {
  color: var(--color-inverse);
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  height: 50px;
  width: calc(100% - 16pt);
  min-height: 50px;
  margin-left: 8pt;
  margin-right: 8pt;
  height: auto;

  @include media-breakpoint-up(md) {
    margin-left: auto;
    margin-right: auto;
  }
}

.n-toolbar-grid.lg {
  min-height: 50px;
}
.n-toolbar-grid.sm {
  min-height: 30px;
  height: 30px;
  font-size: 0.9em;
}

.n-toolbar-grid .left {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  grid-area: 1 / 1 / 2 / 2;
  justify-content: center;
  .btn-clear,
  .tap-icon {
    // padding-left: 0;
  }
}
.n-toolbar-grid .main {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: 1 / 2 / 2 / 3;
  justify-content: center;
  font-weight: 700;
  text-align: center;
  line-height: 110%;
}
.n-toolbar-grid .main h1,
.n-toolbar-grid .main .title {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.12em;
  margin: 2px;
  padding: 0;
  text-align: center;
}
.n-toolbar-grid .right {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  grid-area: 1 / 3 / 2 / 4;
  justify-content: center;
  .btn-clear,
  .tap-icon {
    // padding-right: 0;
  }
}
