// * {
//   border: solid 1px rgba(red, 0.5) !important;
// }

body.scrolling .n-tracker-button {
  pointer-events: none !important;
}

.tracker-ball {
  .dymoji-wrap {
    position: absolute !important;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .countdown {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 202;
  }
  .balls {
    position: absolute;
    bottom: 2px;
    left: 20%;
    right: 20%;
    z-index: 202;
  }
  .one-tap {
    position: absolute;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-faded-1);
    opacity: 0.3;
    bottom: 2px;
    left: 19%;
    right: 19%;
    z-index: 0;
  }
}

.n-tracker-button-xxx {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // border: solid 1px rgba(0, 0, 0, 0.1);
  border: none !important;
  background-color: var(--header-background);
  color: var(--color-inverse);
  box-shadow: var(--box-shadow);
  border-radius: 1.3rem;
  width: 5.9rem;
  height: 5.9rem;
  outline: none;
  transition: all 0.2s ease-in-out;

  &:active,
  &.pressing {
    background-color: var(--tracker-background);
    transition: all 0.2s ease-in-out;
    transform: scale(0.95);
    // box-shadow: var(--box-shadow-tight);
    box-shadow: var(--box-shadow-tight);
  }

  &.added {
    border: solid 1px rgba($green, 0.3);
  }

  .emoji {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  &.saving {
    transition: all 0.2s ease-in-out;
    border: solid 2px rgba($green, 0.5);
  }

  @include media-breakpoint-up(md) {
    width: 7.9rem;
    height: 7.9rem;
    margin: 12px 3px !important;
    .emoji {
      font-size: 3.4rem;
      font-style: normal;
    }
  }

  @include media-breakpoint-down(md) {
    width: 6.8rem;
    height: 6.8rem;
    .emoji {
      font-size: 2.7rem;
      font-style: normal;
    }
  }

  @include media-breakpoint-down(sm) {
    width: 6rem;
    height: 6rem;
    margin: 6px 3px !important;

    .emoji {
      font-size: 2.2rem;
      font-style: normal;
    }
  }

  @include media-breakpoint-down(xs) {
    width: 6.6rem !important;
    height: 6.6rem !important;
    margin: 12px 3px !important;

    .emoji {
      font-size: 2.2rem;
      font-style: normal;
    }
  }

  header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 20;
    top: 0.4rem;
    left: 6px;
    right: 6px;
    font-size: 11px;
    line-height: 11px;

    .value.left {
      height: 20px;
      border-radius: 8px;
      font-size: 14px;
      line-height: 14px;
      min-width: 16px;
      position: absolute;
      display: flex;
      align-items: center;
      font-weight: bold;
      top: 0px;
      left: 6px;
      background: transparent;
    }
  }
  footer {
    position: absolute;
    bottom: 13px;
    left: 4px;
    right: 4px;
    text-align: center;
    line-height: 100%;
    font-size: 0.8rem;
    z-index: 2;
  }
}
