aside.n-panel {
  width: 20%;
  max-width: 320px !important;
  min-width: 240px !important;
}

.n-panel {
  //   * {
  //     border: solid 1px red !important;
  //   }
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;

  &.border-right {
    border-right: solid 1px rgba(0, 0, 0, 0.1);
  }

  &.center-vertical {
    justify-content: center;
  }

  &.center-all {
    justify-content: center;
    align-items: center;
  }

  &.border-left {
    border-left: solid 1px rgba(0, 0, 0, 0.1);
  }

  &.border-top {
    border-top: solid 1px rgba(0, 0, 0, 0.1);
  }

  &.n-panel-fixed {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &.column,
  &.vertical {
    flex-direction: column;
  }

  &.row,
  &.horizontal {
    flex-direction: row;
  }

  &.scroll-y {
    overflow-y: auto;
  }

  &.scroll-x {
    overflow-x: auto;
  }

  &.n-panel-30 {
    max-width: 30%;
  }

  &.n-panel-20 {
    max-width: 20%;
  }

  &.n-panel-25 {
    max-width: 25%;
  }
}
