.n-modal-frame.tracker-input {
  .n-modal-body {
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    > div {
      width: 100%;
    }
    .input-model {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .tracker-input {
    display: flex;
    min-width: 80%;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
  }
  .tracker-input.keypad {
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
  }
  .input-toolbar {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
  }
}
