// Colors
$primary: #20699d;
$primaryMuted: #4d84a1;
$primaryDark: #1a212a;
$primaryFaded: rgba(50, 159, 215, 0.45);
$primaryDarker: #070c12;
$primaryDarkish: #18212f;
$primaryDarkest: #03080b;
$primaryBright: #319ed7;
$orange: #ed9614;
$dark: #142432;
$inverse: #ffffff;
$grey: #666666;
$faded: #f8f8f8;
$faded2: #cccccc;
$textFaded: #cccccc;
$textFaded2: #dddddd;
$green: #38a83f;
$red: #e94151;
