// Colors
$primary: #20699d;
$primaryMuted: #4d84a1;
$primaryDark: #1a212a;
$primaryFaded: rgba(50, 159, 215, 0.45);
$primaryDarker: #070c12;
$primaryDarkish: #18212f;
$primaryDarkest: #03080b;
$primaryBright: #319ed7;
$orange: #ed9614;
$dark: #142432;
$inverse: #ffffff;
$grey: #666666;
$faded: #f8f8f8;
$faded2: #cccccc;
$textFaded: #cccccc;
$textFaded2: #dddddd;
$green: #38a83f;
$red: #e94151;

$progress-height: 10px;
$progress-font-size: 0.8rem;
$progress-bg: var(--color-faded);
$progress-border-radius: 10px;
$progress-box-shadow: none;
$progress-bar-color: var(--color-solid) !default;
$progress-bar-bg: $primary !default;
$progress-bar-animation-timing: 1s linear infinite !default;
$progress-bar-transition: width 0.6s ease !default;

$trackerBallSize: 105px;

$grid-breakpoints: (
  xs: 0,
  sm: 350px,
  md: 600px,
  lg: 980px,
  xl: 1280px
);
