.pop-menu {
  @apply px-3 pt-3 pb-4;
  @apply backdrop-filter backdrop-saturate-150 backdrop-blur-sm;
  @apply text-gray-900 dark:text-gray-50;
  @apply bg-white dark:bg-gray-700 bg-opacity-80 dark:bg-opacity-50 backdrop-filter backdrop-saturate-150 backdrop-blur-sm;
  @apply rounded-t-2xl;
  max-height: 90vh;
  width: 97vw;
  @apply max-w-sm;
}

.pop-menu .card .card-body {
  @apply flex-grow;
  @apply flex-shrink;
  @apply overflow-y-auto;
  @apply overflow-x-hidden;
}
.pop-menu .btn-toolbar .nbtn {
  @apply min-w-full;
}
.pop-menu .pop-button {
  box-shadow: none;
}
.pop-menu .n-list {
  @apply rounded-2xl;
  @apply overflow-y-auto;
  @apply bg-opacity-50;
  @apply bg-white dark:bg-black;
}

.pop-menu .list {
  border-radius: 1em;
  max-height: 60vh;
  overflow-y: scroll;
}
.pop-menu .n-list .nbtn {
  @apply bg-transparent;
  min-height: 50px;
}
.pop-menu .n-list .nbtn main {
  text-align: left !important;
  justify-content: flex-start;
}
.pop-menu .n-list .nbtn ~ .nbtn:after {
  content: '';
  border-top: solid 1px rgba(155, 155, 155, 0.25) !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.pop-menu .nbtn-danger:hover,
.pop-menu.nbtn-danger:active {
  background-color: var(--color-red) !important;
  color: rgba(128, 2, 2, 0.9) !important;
}
