.clickable,
[clickable] {
  transition: all 0.2s ease-in-out;
  position: relative;
  cursor: pointer;
  touch-action: manipulation;
  &:after {
    transition: all 0.2s ease-in-out;
    content: "";
    pointer-events: none;
    background-color: var(--color-inverse-3);
    opacity: 0;
    border-radius: 8pt;
  }
}
.clickable:active {
  touch-action: manipulation;
  outline: none;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.6;
    background-color: var(--color-inverse-3);
  }
}
