.clickable,
[clickable] {
  transition: all 0.1s ease-in-out;
  position: relative;
  cursor: pointer;
  touch-action: manipulation;
  &:after {
    transition: all 0.1s ease-in-out;
    content: "";
    pointer-events: none;
    background-color: rgba($primaryBright, 0);
    // transform: scale(0.1);
    border-radius: 8pt;
  }
}
.clickable:focus,
.clickable:active {
  touch-action: manipulation;
  outline: none;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    // transform: scale(1);
    background-color: rgba($primaryBright, 0.1);
  }
}
