.container-sm {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.container-xs {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.container {
  max-width: 800px !important;
}
