input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  background-color: var(--color-input-background);
  border-color: var(--color-solid-1);
  color: var(--color-inverse-2);

  border: none;
  font-size: 1rem;
  border-radius: 0.4rem;
  padding: 6px;
  color: var(--color-inverse);
  &:focus {
    background-color: var(--color-input-background);
    color: var(--color-inverse);
  }
}

.search-bar {
  position: relative;
  &.top {
    // position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 1000;
  }
}

.form-control {
  &:focus {
    box-shadow: none !important;
    background-color: var(--color-solid);
  }
}
.form-control,
input.form-control,
select.form-control {
  border-radius: 0.4rem !important;
  background-color: var(--color-solid-half) !important;
  border: solid 1px var(--color-solid-1) !important;
  color: var(--color-inverse-2);
  &:focus {
    background-color: var(--color-faded);
    color: var(--color-inverse-2);
  }
}
textarea.form-control {
  background-color: var(--color-solid-half);
  border-color: var(--color-solid-1);
  color: var(--color-inverse-2);
  border: none;
  border-radius: 0.4rem;
  padding: 6px;
  font-size: 0.7rem;
  color: var(--color-inverse);
  &:focus {
    background-color: var(--color-input-background);
    border-color: var(--color-solid);
    color: var(--color-inverse);
  }
}

select {
  -webkit-appearance: none;
  background-color: transparent !important;
  color: var(--color-inverse) !important;
  border: transparent !important;
  border-radius: 0 !important;
  position: relative;
}

.input-group {
  border: none;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  .form-control {
    margin-top: 0;
  }
  .input-group-text {
    border: none;
    background-color: var(--color-input-background);
  }
}

.input-group-prepend .input-group-prepend .input-group-text::after {
  content: normal;
  border-right: solid 1px rgba(0, 0, 0, 0.4);
  display: block;
  padding-left: 6px;
  padding-right: 6px;
}

.search-input {
  border-radius: 8px !important;
  padding: 0px 16px !important;
  height: 36px;
  border: solid 1px transparent;
  background-color: var(--color-input-background);
  color: var(--color-inverse-2);
  flex-grow: 1;
  outline: none;
  transition: all 0.2s ease-in-out;
  &:focus {
    border: solid 1px var(--color-faded-1);
    background-color: var(--color-input-background);
  }
}
