.truncate {
	@include truncate(1);
}
.truncate-2 {
	@include truncate(2);
}
// Colors
.text-primary-bright {
	color: $primaryBright !important;
}
.text-red {
	color: $red !important;
}
.text-green {
	color: $green !important;
}
.text-white {
	color: #fff;
}
.font-bold {
	font-weight: bold;
}
.font-120 {
	font-size: 1.2rem;
}
.font-140 {
	font-size: 1.4rem;
}
.text-faded {
	color: var(--color-faded);
}
.text-faded-1 {
	color: var(--color-faded-1);
}
.text-faded-2 {
	color: var(--color-faded-2);
}
.text-faded-3 {
	color: var(--color-faded-3);
}

.text-xs {
	font-size: 0.5rem !important;
}
.text-sm {
	font-size: 0.81rem !important;
	line-height: 0.98rem;
}
.text-md {
	font-size: 1rem !important;
}
.text-lg {
	font-size: 1.3rem !important;
}
