.n-board-tabs {
  background-color: var(--color-solid);
  border-bottom: solid 1px var(--color-solid-2);
  width: 100%;
  min-height: 50px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  height: 50px; }
  .n-board-tabs .mask {
    padding-left: 10px;
    height: 100%;
    width: fit-content;
    display: flex;
    align-content: center; }
  .n-board-tabs .tab {
    color: var(--color-inverse-2);
    border: none;
    background: transparent;
    padding: 4px 6px;
    min-width: 40px;
    max-width: 200px;
    width: auto;
    flex-shrink: 0;
    height: 50px; }
    .n-board-tabs .tab.active {
      border-bottom: solid 2px var(--color-inverse); }
