.n-board-tabs {
  background-color: var(--color-solid);
  width: 100%;
  min-height: 50px;
  -webkit-overflow-scrolling: touch;
  height: 50px; }
  .n-board-tabs .tab {
    color: var(--color-inverse-2);
    border: none;
    background: transparent;
    padding: 6px 10px;
    min-width: 40px;
    max-width: 200px;
    width: auto;
    flex-shrink: 0;
    height: 50px;
    position: relative; }
    .n-board-tabs .tab.active {
      border-bottom: solid 2px var(--color-primary-bright); }
    .n-board-tabs .tab:last-child.active {
      border-bottom: none; }
    .n-board-tabs .tab:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.1);
      opacity: 0;
      transition: all 0.2s ease-in-out; }
    .n-board-tabs .tab:active:after {
      background-color: var(--color-primary-bright);
      opacity: 0.5;
      transition: all 0.2s ease-in-out; }
