@charset "UTF-8";
.btn {
  border-radius: 12px;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center; }
  .btn.btn-round {
    border-radius: 30px !important; }

button:focus {
  outline: 0 !important; }

.btn-primary {
  background-color: var(--color-primary-bright); }
  .btn-primary:hover {
    background-color: --color-primary; }

.btn-outline-dark {
  border-color: var(--color-solid-2) !important; }

.btn-white-pop {
  color: var(--color-primary-bright) !important;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-color: var(--color-solid-2);
  background-color: var(--color-faded); }
  .btn-white-pop.inactive {
    box-shadow: none;
    background-color: var(--color-solid);
    color: var(--color-inverse-2) !important;
    border-color: var(--color-solid-2);
    opacity: 0.7; }

.btn-content {
  flex-direction: column;
  position: relative;
  padding: 12px 12px 16px;
  margin: 10px;
  border: solid 1px var(--color-solid);
  color: var(--color-solid);
  transition: all 0.2s ease-in-out; }
  .btn-content:hover {
    color: var(--color-solid);
    transform: scale(1.12); }
  .btn-content .n-text.lg {
    font-weight: bold;
    font-size: 1rem !important;
    margin-bottom: 2px; }
  .btn-content .n-text.sm {
    font-weight: 300;
    opacity: 0.7; }
  .btn-content.active {
    border: none;
    background-color: var(--color-primary-bright);
    color: #fff; }
    .btn-content.active:after {
      position: absolute;
      content: '✓';
      top: -12px;
      left: -12px;
      width: 24px;
      height: 24px;
      background-color: var(--color-primary-bright);
      border-radius: 12px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); }

.btn-icon {
  font-size: 33px;
  padding-left: 10px;
  padding-right: 10px; }

.btn-primary {
  background-color: var(--color-primary-bright); }
  .btn-primary:hover {
    background-color: var(--color-primary); }

.btn-light {
  background-color: var(--color-faded); }
  .btn-light:hover {
    background-color: var(--color-faded-2); }

.btn-group {
  background-color: var(--color-solid-1);
  padding: 2px;
  border-radius: 12px; }
  .btn-group .btn {
    background: transparent !important;
    border: none;
    transition: all 0.2s ease-in-out;
    color: var(--color-inverse); }
    .btn-group .btn.active {
      background-color: var(--color-solid) !important;
      border-radius: 10px !important;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14); }

.btn-clear {
  background-color: none;
  border: none;
  color: var(--color-inverse-1); }
  .btn-clear[disabled] {
    opacity: 0.2; }

.btn-square {
  border-radius: 0 !important; }

.bg-faded {
  background-color: var(--color-faded) !important; }
