.item-ball {
  position: relative;
  margin: 0 4px;
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  width: 106px;
  min-width: 106px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 8px;
  overflow: hidden; }
  .item-ball .one-tap {
    position: absolute;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-faded-1);
    opacity: 0.3;
    bottom: 2px;
    left: 19%;
    right: 19%;
    z-index: 0; }
  .item-ball .avatar-ball {
    position: relative;
    width: 102px;
    height: 102px;
    border-radius: 34.68px;
    background-color: var(--color-solid);
    overflow: hidden;
    box-shadow: var(--box-shadow-float);
    display: flex;
    align-items: center;
    justify-content: center; }
  .item-ball .username {
    font-weight: 500;
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--color-inverse);
    margin-top: 10px; }
  .item-ball:active {
    transform: scale(0.9); }
    .item-ball:active .avatar {
      box-shadow: var(--box-shadow-tight); }
  .item-ball .last.today {
    color: var(--color-green); }
  .item-ball .countdown {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 202; }
  .item-ball .balls {
    position: absolute;
    bottom: 2px;
    left: 20%;
    right: 20%;
    z-index: 202; }
