.n-tracker-editor .n-modal {
}
.n-tracker-editor .emoji-editor {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: 24px 0;
  --emoji-size: 100px;
  --emoji-size-half: 50px;
}
.n-tracker-editor .emoji-editor input {
  display: block;
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.n-tracker-editor .emoji-editor .emoji {
  --emoji-width: calc(var(--emoji-size) * 2);
  transition: all 0.2s ease-in-out;
  position: relative;
  width: var(--emoji-width);
  height: var(--emoji-size);
  border-radius: var(--emoji-size-half);
}
.n-tracker-editor .emoji-editor .emoji input {
  height: calc(var(--emoji-size) - 8px);
  width: calc(var(--emoji-width) - 8px);
  text-align: center;
  font-size: calc(var(--emoji-size) * 0.7) !important;
}
.n-tracker-editor .emoji-editor .emoji input:focus {
  outline: none !important;
  box-shadow: var(--box-shadow-float);
}
.n-tracker-editor .emoji-editor .emoji .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  border-radius: var(--emoji-size-half);
}
.n-tracker-editor .emoji-editor .emoji.no-emoji:after {
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  color: var(--color-solid-1);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: 'Emoji';
}
