.shortcut-button {
  @apply relative;
  @apply flex-grow;
  @apply flex-shrink-0;
  @apply justify-items-stretch;
  @apply rounded-2xl;
  @apply shadow-md;
  @apply bg-white dark:bg-black dark:bg-opacity-50;
  --scb-pad: 14px;
  height: 146px;

  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.19, -0.33, 0.78, 1.32);
  color: var(--color-inverse-2);
  padding: 0;
}
.shortcut-button:focus {
  @apply ring;
  @apply ring-2;
  @apply ring-primary-500;
}

.shortcut-button .title,
.shortcut-button .subtitle,
.shortcut-button .value {
  line-height: 112%;
  margin-bottom: 3px;
  width: 100%;
}
.shortcut-button .subtitle {
  margin-bottom: 5px;
}
.shortcut-button .value {
  font-weight: bold;
}
.shortcut-button:hover,
.shortcut-button:active {
  color: var(--color-inverse-2);
}
.shortcut-button:active,
.shortcut-button:focus {
  box-shadow: var(--box-shadow-tight) !important;
}
.shortcut-button .title {
  @apply font-medium;
  @apply text-sm;
  @apply md:text-base;
  @apply leading-tight;
  @apply line-clamp-2;
  @apply text-black dark:text-white;
}
.shortcut-button .value {
  @apply font-bold;
  @apply text-base md:text-lg;
  @apply leading-none;
}
.shortcut-button .subtitle {
  @apply text-xs md:text-sm;
  @apply leading-none;
  @apply opacity-70;
}

.shortcut-button .emoji {
  margin-top: -2px;
  margin-left: -2px;
}
.shortcut-button:before {
  transition: all 0.4s ease-in-out;
  content: '';
  z-index: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transform: translateX(-180px);
}
.shortcut-button.has-value {
  position: relative;
}
.shortcut-button.has-value:before {
  transform: translateY(0px);
  opacity: 1;
}
.shortcut-button .top,
.shortcut-button .bottom {
  position: relative;
  z-index: 10;
  display: flex;
}
.shortcut-button .bottom {
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-end;
  padding-bottom: 6px;
  position: absolute;
  bottom: 6px;
  left: var(--scb-pad);
  right: var(--scb-pad);
}

.shortcut-button button.more {
  @apply relative;
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply bg-transparent;
  @apply border-none;
  @apply text-gray-300 dark:text-gray-700;
}
.shortcut-button button.more:focus {
  outline: none;
}
.shortcut-button button.more:before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 50%;
}
.shortcut-button .highlight {
  transition: all 0.2s ease-in-out;
  position: absolute;
  bottom: 7px;
  left: 14px;
  right: 14px;
  height: 5px;
  border-radius: 4px;
  overflow: hidden;
}
.shortcut-button .highlight.one-tap {
  @apply bg-gray-200 dark:bg-gray-900;
}
.shortcut-button.in-note {
  transform: scale(0.98);
  box-shadow: 0px 0px 9px var(--tracker-color) !important;
}
.shortcut-button.has-value .highlight.one-tap {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
.shortcut-button.has-value .emoji {
  color: #fff !important;
}

.shortcut-button.no-value .more {
  /* border: solid 1px rgba(150, 150, 150, 0.6); */
}
.shortcut-button.has-value {
  color: #fff;
}
.shortcut-button.has-value .more {
  @apply bg-white bg-opacity-10 text-white text-opacity-80;
  color: #fff !important;
}
.shortcut-button.has-value:before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.12);
}
.shortcut-button .top {
  @apply flex;
  @apply justify-between;
  @apply items-start;
  @apply w-auto;
  @apply absolute;
  @apply top-4;
  @apply right-2;
  @apply left-2;
  flex-grow: 0;
  flex-shrink: 0;
  @apply px-2;
}
.shortcut-button.has-value .n-text {
  color: #fff !important;
}
.shortcut-button.has-value .n-counter {
  color: #fff !important;
}
.shortcut-button.full-width {
  width: calc(100% - 12px) !important;
  min-width: calc(100% - 12px) !important;
  max-width: calc(100% - 12px) !important;
}
