// Variables and mixins
@import "./utils/_utils";

/**
Why have a SCSS file when you can do it directly in the components?
It's not easy to style children components within a component, 
so i've opted to have the scss file be the override, and to fill in 
where a component doesn't exist, or isn't needed.
**/

// Vendors
@import "./vendor/bootstrap/bootstrap";

// Base
@import "./base/reset";
@import "./base/body";
@import "./base/text";
@import "./base/forms";
@import "./base/flex";
@import "./base/animate";
@import "./base/opacity";
@import "./base/clickable";
@import "./base/container";
@import "./base/touch";
@import "./base/position";
@import "./base/size";

// Components
@import "./components/board-tabs";
@import "./components/full-screen";
@import "./components/btn";
@import "./components/mini-map";
@import "./components/row";
@import "./components/empty-notice";
@import "./components/n-pop";
@import "./components/list-item";
@import "./components/tracker-input-modal";
@import "./components/tracker-button";
@import "./components/share-image";
@import "./components/grid";
@import "./components/app-panel";
@import "./components/item-ball";
@import "./components/toolbar";
@import "./components/n-log-item";
@import "./components/badge";
@import "./components/memories";
@import "./components/time-bar";
@import "./components/photo-holder";
@import "./components/main-content";
@import "./components/card";
@import "./components/tap-icon-text";
@import "./components/offline-notice";
@import "./components/n-layout";
@import "./components/capture-log";

@import "./components/loading-screen";

@import "./pages/setup";

/**
THIS STUFF BELOW SHOULD NOT BE HERE - IT SHOULD BE ORGANIZED 
TODO: Organize main into components or containers. 
**/

.gap {
  height: 16px;
}

// HACK! This isn't working in the component
.library-modal .n-modal-body {
  background-color: var(--color-bg) !important;
}

.fake-link {
  border-bottom: dotted 1px var(--color-primary-bright);
  color: var(--color-primary-bright);
}

.page {
  display: flex;
  min-height: calc(100vh - 120px);
  flex-grow: 1;
  background-color: var(--color-bg);
}
