.nbtn-group {
  height: 40px;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  @apply bg-gray-200 dark:bg-black dark:bg-opacity-60;
  align-items: center;
  padding: 2px;
  border-radius: 10px;
}

.nbtn-group.scrollable {
  @apply overflow-x-auto;
}

.nbtn-group .nbtn {
  border: solid 1px transparent;
  @apply text-sm;
  height: 36px;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 0;
  padding-left: 12px;
  padding-right: 12px;
  box-shadow: none;
  @apply bg-gray-200 dark:bg-gray-900;
  @apply text-black dark:text-gray-400;
}
.nbtn-group .nbtn.active {
  border-radius: 8px !important;
  z-index: 10;
  @apply shadow-md;
  @apply bg-white dark:bg-gray-600;
  @apply font-bold;
  @apply text-black dark:text-white;
  @apply text-primary-500;
}
.nbtn-group .nbtn:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.nbtn-group .nbtn:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
